/*
The :host tag is replaced by the webcomponent tag during build. It will then refer to the webcomponent itself.
The actual react app is mounted in a div inside the webcomponent.

All other styles will be prepended with :host during build so they are automatically scoped to the webcomponent.
*/

/* Style the webcomponent itself */
:host{
    display: block;
    height: 100%;
}

/* Style the mountpoint for the react app */
:host > div{
    height: 100%;
}